venv/
__pycache__/
d-mercator/__pycache__/
graphs/nodes_user/
graphs/bipartite/
datasets/mas_data/
datasets/data_hashtags_agosto_2023/*
datasets/dicts_hashtags/dict_hashtags_9n.json
datasets/dicts_hashtags/dict_hashtags_nat.json